.pokemonlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
}

.pokemoncard {
    margin: 10px;
    width: 250px;
}

.title {
    text-align: center;
    font-family: monospace;
    font-size: 50px;
    margin-bottom: 50px;
}

.image {
    transform: scale(150%);
}

.name {
    font-family: monospace;
    font-size: 40px;
}

.type, .height, .weight {
    font-family: monospace;
    font-size: 19px;
}
